
body{
  background-color: rgb(42,42,42);
}
a{
  color: rgb(50,50,255);
}
a:visited {
  color: red
}
p, #text{
  color:  white;
}
canvas{
  position: fixed;
  top:30%;
  left:30%;
  border-style: solid;
  border-color: white;
}
#drawButton{
  position: fixed;
  left: 47.5%;
  top: 50%;
  font-size: 24px;
}
#topButton, #bButton, #cButton, #dButton, #eButton, #fButton, #gButton{
  position: fixed;
  width: 5%;
  height: 10%;
  margin-top: 5%;
}
#topButton{
  top: 7.5%;
  right:94.4%;
}
#bButton{
  top: 17.5%;
}
#cButton{
  top: 27.5%;
}
#dButton{
  top: 37.5%;
}
#eButton{
  top: 47.5%;
}
#fButton{
  top: 57.5%;
}
#gButton{
  top: 67.5%;
}
#enFlag, #frFlag{
    width: 100%;
    border-radius: 50%;
}
#logo{
  width: 5%;
  float:left;
  top: 1%;
}
#logoText{
  float: left;
  margin-top: 2%;
}
#enFrancais{
  display: none;
}
#toEnglish{
  display: block;
}
#toEnglish, #enFrancais{
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  width: 5%;
  background-color: rgb(42,42,42);
  border-color: rgb(42,42,42);
}
#text{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
}
#textImage{
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}
