h1{
  position: fixed;
  top: 10%;
  left:12.5%;
  font-family: 'Press Start 2P';
}
body{
  background-color: rgb(22,22,22);
}
a{
  color: rgb(50,50,255);
}
a:visited {
  color: red
}
p, #text{
  color:  white;
  font-family: 'Press Start 2P';
}
canvas{
  position: fixed;
  top:25%;
  left:30%;
  border-style: solid;
  border-color: rgb(22,22,22);
}
iframe{
 position:fixed;
 width: 55%;
 height: 60%;
 top: 11.5%;
 left: 22.5%;
}

#joystickButtonA, #joystickButtonB, #redButtonA, #redButtonB, #blackButtonA, #blackButtonB,#blueButtonA, #blueButtonB{
  position: fixed;
  width: 10%;
}
#joystickButtonA{
  top: 70%;
  left: 6%;
}
#joystickButtonB{
  top: 70%;
  right: 6%;
}
#redButtonA{
  top: 80%;
  left:15%;
}
#redButtonB{
  top: 80%;
  right:15%;
}
#blackButtonA{
  top: 72.5%;
  left: 25%;
}
#blackButtonB{
  top: 72.5%;
  right:25%;
}
#blueButtonA{
  top: 72.5%;
  left: 30%;
}
#blueButtonB{
  top: 72.5%;
  right:20%;
}
#enFlag, #frFlag{
    width: 100%;
    /* border-radius: 50%; */
}
#logo{
  width: 5%;
  float:left;
  top: 1%;
}
#logoText{
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  font-family: 'Press Start 2P';
}
#enFrancais{
  display: none;
}
#toEnglish{
  display: block;
}
#toEnglish, #enFrancais{
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  width: 5%;
  background-color: rgb(22,22,22);
  border-color: rgb(22,22,22);
}
#text{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
#textImage{
  width: 25%;
  margin-left: 22%;
  margin-top: 5%;
}
#drawButton{
  position: fixed;
  top:45%;
  left:40%;
  font-family: 'Press Start 2P', cursive;
}
